@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="\Content\css\default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="\Content\css\fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="~/Views/Index/Index.cshtml">Мой Мастер</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li class="active"><a href="#" accesskey="1" title="">Клиентам</a></li>
                <li><a href="/Masters/Index" accesskey="3" title="">Мастерам</a></li>
                <li><a href="/Entrance/Index" accesskey="4" title="">Вход</a></li>
                <li><a href="/Registration/Index" accesskey="5" title="">Регистрация</a></li>
            </ul>
        </div>
    </div>

    <div id="banner"></div>
    <div id="page" class="container">
        <h2>Выберите услугу</h2>
        <div class="boxA">
            <div class="box">
                <a href="#" class="image image-full">
                    <img src="~/Content/images/pic01.jpg" alt="" />
                    <span>Парикмахер</span>
                </a>
            </div>
        </div>

        <div class="boxB">

            <div class="box">
                <a href="#" class="image image-full">
                    <img src="~/Content/images/pic02.jpg" alt="" />
                    <span>Маникюр</span>
                </a>
            </div>
        </div>

        <div class="boxC">
            <div class="box">
                <a href="#" class="image image-full">
                    <img src="~/Content/images/pic03.jpg" alt="" />
                    <span>Макияж</span>
                </a>
            </div>
        </div>
        <div class="boxA">
            <div class="box">
                <a href="#" class="image image-full">
                    <img src="~/Content/images/pic04.jpg" alt="" />
                    <span>Косметология</span>
                </a>
            </div>
        </div>

        <div class="boxB">

            <div class="box">
                <a href="#" class="image image-full">
                    <img src="~/Content/images/pic05.jpg" alt="" />
                    <span>Массаж</span>
                </a>
            </div>
        </div>

        <div class="boxC">
            <div class="box">
                <a href="#" class="image image-full">
                    <img src="~/Content/images/pic06.jpg" alt="" />
                    <span>Эпиляция</span>
                </a>
            </div>
        </div>
    </div>

    <div id="copyright" class="container">
        <p>МП-34<br>2018</p>
    </div>
</body>
</html>

